# Ignore build output directories
bin/
obj/
TinyScraper.exe
TinyScraper.pdb
selenium-manager
ClickedMovieTemp.txt
TrailerSearch.exe
TrailerSearch.pdb
imdb_links.txt
*.log
TinyPlayer/
.cursor/
TinyScrapev2.exe
TinyScrapev2.pdb